.FitnessClub{
    color:#ff2625;
    font-weight: 200;
    
}

.hero-banner-img{
  position: relative,; */
  /* right: 40px; */
  /* top: 0px; */
  /* width: 700px;
  height: 900px;
  margin-top: -270px;

  }